/* .colicon1 {
    text-align: center;
    
    
    
}
.colbutton{
    text-align: center;
}
.colicon{
    text-align: center;
}
.hrow{
    height: 50px;
    padding-top: 7px;

} */
.ipmain{
   display: flex;
   flex-direction: row;
   padding-top: 5px;
   flex-wrap: wrap;
   max-height: auto;
   background-color: rgba(18, 73, 194, 0.877);
   justify-content: space-around;
   justify-items: center;
  
   
}
.firstone a i{
 
 margin-left: 30px;
 

 
}
.secondone{
  text-align: center;
  color: #fff;

  
    /* display: flex;
   flex-direction: row;
   padding-top: 5px;
   flex-wrap: wrap;
   height: 40px;
   border: 2px solid black;
   
   background: rgb(35, 67, 165); */

}
.firstone{
float: grow 1px;
}
 .secondone{
    
    width: 550px;   
}
.thirdone{

    
} */

/* .colicon1 a i{
 list-style: none;
justify-content: space-between;

} */


/* #facebook {
    margin-left: 15px;
}
#twitter{
    margin-left: 15px;
}
#whatsapp{
    margin-left: 15px;
}
#youtube{
    margin-left: 15px;
} */
.branlogo{
    
}





/* #brandlogo{
    width: 200px;
    margin-left: 100px;
}
li{
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.carousel-indicator{
    height: 10px;
} */
marquee{
    color: white;
    background-color: rgb(36, 36, 216);
}
/* #ulintro{
    margin: 0;
    padding: 0;
    list-style: none;
}
#liintro{
    font-size: 3em;
    color: white;
    text-shadow: 1px 5px 10px #000045;
    letter-spacing: 2px;
    
    
}
#liduction{
    font-size: 3em;
    color: green;
    text-shadow: 1px 5px 10px #000045;
    letter-spacing: 2px;
    
     
}
#liintro #liduction{
justify-content: space-evenly;
} */

#copy{
margin: 0 auto;
display: block;
}
p{
    text-align: justify;
}
#copycat{
    background-color: #f7f8fa;
}


#brow{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color:rgb(103, 103, 243) ;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding: 50px 0px 50px 0px
}
#whatwearedoing{
    margin: 0 auto;
    display: block;
    padding: 10px;
    padding-top: 10px;
    width: 200px;
    height: auto;
    max-width: 300px;
    }
   

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.one, .two, .three {
    border: 2px solid  whitesmoke;
    width: 400px;
    height: 200px;
    padding-top: 75px;
    text-align: center;
    box-shadow: 10px 10px 15px;
    margin-top: 30px;
    background-color: white;
}
#upcomingprojects{
    color: blue;
    margin-left: 55px;
    font-size: 1.5em;
    
}
.four, .five, .six{
    border: 2px solid  whitesmoke;
    width: 400px;
    height: 200px;
    padding-top: 75px;
    text-align: center;
    box-shadow: 10px 10px 15px;
    margin-top: 30px;
    background-color: white;

}
/* #main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
      
}
  
}
#hepa{
    width: 300px;
    height: 80px;
    border: 2px solid whitesmoke; 
}
#housing{
    width: 300px;
    height: 80px;
    border: 2px solid whitesmoke;
}
#main1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid whitesmoke;
}
#it{
    width: 300px;
    height: 80px;
    border: 2px solid whitesmoke;
}
#thar{
    width: 300px;
    height: 80px;
    border: 2px solid whitesmoke;
} */
#comingevents{
    color: blue;
    text-align: center;
    font-size: 1.5em;
   
}
.upcomingeve{
    color: blue;
    font-size: 1.2em;
    margin-left: 60px;
}

.zaroori{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


#upmarquee{
    height: 200px;
    
    
}



.cbox{
    
}


    
.zaroori1{
    border: 5px solid whitesmoke;
    box-shadow: 3px 3px 5px  whitesmoke;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 15px;
}
.zaroori2{
    border: 5px solid whitesmoke;
    box-shadow: 3px 3px 5px  whitesmoke;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 15px;
}
.zaroori3{
    border: 5px solid whitesmoke;
    box-shadow: 3px 3px 5px  whitesmoke;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 15px;
}
.zaroori4{
    border: 5px solid whitesmoke;
    box-shadow: 3px 3px 5px  whitesmoke;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 15px;
}
























#gallery{
    margin: 0 auto;
    display: block;
    width: 200px;
    height: auto;
    max-width: 300px;
}









/* .footer{
    background:rgb(27, 22, 68) ;
    color:whitesmoke ;
    height:400px ;
    width: 100%;
    max-width: 600px; 
    position: relative;
    bottom: 0px;
    left: 0px; 
    
}
.footer-bottom{
background: rgb(48, 48, 212);
color: cornsilk;
width: 100%;
height: 50px;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding-top: 12px;


}
.footer .footer-content {
    
    height: 350px;
    display: flex;
    
    
}


.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    padding-top: 60px;
     

} */

.footer-top{
    background-color: #111;
    padding: 80px 0;
    
}
.segment-three a:{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.footer-bottom{
    background: rgb(48, 48, 212);
    color: cornsilk;
    width: 100%;
    height: 50px;
    text-align: center;
    
    bottom: 0px;
    left: 0px;
    padding-top: 12px;
    
    
    }
.frow{
    padding: 10px;
}

.top a img {
    position: fixed;
    bottom: 10px;
    right: 15px;
    /* opacity: 0.5; */
    filter: opacity(50%);
}





















